<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smartsend.smartsendapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.example.smartsend.smartsendapp.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.smartsend.smartsendapp.permission.C2D_MESSAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ClientDashboardActivity"
            android:label="@string/title_activity_client_dash_board"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RiderDashboardActivity"
            android:label="@string/title_activity_rider_dashboard"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PlaceOrderActivity"
            android:label="@string/title_activity_place_order"
            android:theme="@style/AppTheme" />

        <receiver
            android:name=".GCMReceiver"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>

                <!-- Receives the actual messages. -->
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <!-- Receives the registration id. -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.example.smartsend.smartsendapp" />
            </intent-filter>
        </receiver>

        <service android:name=".GCMMessageHandler" />

        <activity
            android:name=".OrderDetailsForRiderActivity"
            android:label="@string/title_activity_order_details_for_rider"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".AcceptedOrderActivity"
            android:label="@string/title_activity_accepted_rider"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".OrderFailedActivity"
            android:label="@string/title_activity_order_failed"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>
